body{
    background-color: black;
    color: white;
    font-family: Arial ;
    margin-left: 30px;
    margin-top: 50px;
}
.move-btn{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    margin-right: 10px;
}
img{
    max-width: 90px ;
    border-radius: 100%;
    height: 90px;
    margin-left: -3px;
  }
.move-img{
    max-width: 90px ;
    border-radius: 100%;
    height: 90px;
    margin-left: -3px; 
}
.js-score{
    margin-top: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 40px;
    font-size: 25px;
}
.js-score2{
    margin-top: 60px;
    font-weight: bold;
    font-size: 20px;
}
.reset-btn{
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}
.subscribe-bn{
    padding: 15px 25px ;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border-radius:40%;
}
.is-subscribed{
    background-color: white;
    color: black;
    font-weight: bold;
}
#prac1{
    height: 40px;
    margin-top: 30px;
}
#Cost{
    height: 30px;
    margin-top: 15px;
    padding: 5px;
}
.Calculate{
     height: 40px;
     padding: 13px 20px;
     padding-bottom: 30px;
     color: white;
     background-color: green;
     font-family: Arial ;
     border: none;
}
.Auto-play-btn{
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}