body {
  background-color: black;
  color: white;
  font-family: Arial;
  margin-left: 30px;
  margin-top: 50px;
}
.move-btn {
  height: 100px;
  width: 100px;
  border-radius: 75px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  padding: 10px;
  margin-right: 10px;
}
img {
  max-width: 60px;
  border-radius: 100%;
  height: 60px;
  margin-left: -3px;
}
.move-img {
  max-width: 50px;
  border-radius: 100%;
  height: 50px;
  margin-left: -3px;
}
.js-score {
  margin-top: 50px;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 40px;
  font-size: 25px;
}
.js-score2 {
  margin-top: 60px;
  font-weight: bold;
  font-size: 20px;
}
.reset-btn {
  margin-top: 30px;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  color: black;
}
.subscribe-bn {
  padding: 15px 25px;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border-radius: 40%;
}
.is-subscribed {
  background-color: white;
  color: black;
  font-weight: bold;
}
#prac1 {
  height: 40px;
  margin-top: 30px;
}
#Cost {
  height: 30px;
  margin-top: 15px;
  padding: 5px;
}
.Calculate {
  height: 40px;
  padding: 13px 20px;
  padding-bottom: 30px;
  color: white;
  background-color: green;
  font-family: Arial;
  border: none;
}
.Auto-play-btn {
  margin-top: 30px;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  color: black;
}
.reset-div {
  max-width: 300px;
  margin-top: 30px;
  background :transparent;
  padding: 10px 15px;
 
  border-radius: 30px;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 5px rgba(57, 54, 54, 0.8);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.yes-btn,
.no-btn {
  margin-right: 5px;
  padding: 6px 12px;
  border-radius: 6px;
  margin-top: 6px;
  width: 60px;
  color: black;
}
.con{
   width: auto;
  height: auto;
  background :transparent;
  color: white;
  text-align: center;
  padding: 20px; 
}
